
.flex-container {
    display: flex;
} 
.flex-container > .sidebar {
    padding-left: 20px;
    width: 200px;
    position: fixed;
    overflow-y: scroll;
    top: 10%;
    bottom: 0;
}
.flex-container > .shipment-details {
    padding-left: 20%;
    margin-top: 2%;
}
